/* Reset */

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}

ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */


*{
    /* border:2px solid grey; */
    box-sizing:border-box;
    max-width:100%;
    color:black;
}

/* general styles */
html{
    font-size:62.5%;
    background-color:#fffff0;
}

body{
    font-size:1.6rem;
    line-height:1.5;
    font-family: 'Indie Flower', cursive;
    background-color:#fffff0;
}

/* Header styles */

header{
    display:flex;
    background-color:slategray;
}

header h1{
    font-size:5rem;
    margin:0 2%;
}

header nav{
    margin-left:50%;
    align-items:center;
    display:flex;
}

header a{
    text-decoration:none;
    padding:0 5%;
    border:1px solid black;
    background-color:slateblue;
}

/* Upper mid section of page */

.top{
    display:flex;
    align-items:center;
    justify-content:center;
}

.top .innerTop{
    align-content:center;
    padding:10% 20%;
    display:flex;
    flex-flow:column;
}

.top .innerTop, h2{
    font-size:8rem;
}

.innerTop button{
    font-size:3rem;
}

/* Lower mid section of page */

.lower{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.lower .project{
    max-width:30%;
    padding:1%;
    margin:2% 2%;
    border:1px solid black;
}

.project .pic, .p{
    font-size:4rem;
}

.project .pName{
    font-size:2rem;
    text-align:center;
}

/* footer styles */

footer{
    display:flex;
    background-color:slategray;
    justify-content:center;
    padding: 2% 0;
    margin-top:2%;
}

footer a{
    background-color:slateblue;
    text-decoration:none;
    border:1px solid black;
    padding:0 3%;
    font-size:2rem;
}

/* resizing of page */

